<div class="show-container">

  <h1>Chat with ...</h1>

        <%= form_for [ @chatroom, @direct_message ], remote: true do |f| %>
        <div class="chat-input-container">
            <%= f.text_field :content, label: false, placeholder: "Message to #{}", :input_html => {
              :id => "input_message" }, class: "chat-input-text" %>
            <%= submit_tag("Send") %>
        </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
      <div id="messages" class="overflow-auto" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.direct_messages.reverse.each do |message| %>
          <%= render "direct_messages/direct_message", direct_message: direct_message  %>
        <% end %>
      </div>

</div>
