  <div class="show-content">

    <div class="content-left">

      <div class="project-description">
        <%= @project.description %>
      </div>

      <div class="project-links">
        <h4>Resources</h4>
      </div>

    </div>

    <div class="content-right">
      <%= link_to "Edit content", edit_project_path(@project), class: "white btn-artcollabs btn-warm-red" %>
      <a href="#" class="white btn-artcollabs btn-warm-red">Pending requests</a>
      <a href="#" class="white btn-artcollabs btn-warm-red">Delete project</a>
      
      <!-- for some browsers (as the one I use), the delete funcion only works with button_to ☹ so we have to style it accordingly. I put it here to test -->
      <%= render "shared/members" %>
      <%= button_to "Delete project", project_path(@project), method: :delete, class: "white btn-artcollabs btn-warm-red", data: { confirm: "delete project named: '#{@project.title}' ?" } %>

    </div>

  <div style="height: 60px"></div>

  
  <!-- legacy
  <%#= render "shared/about" %>

  <div class="show-content">

    <div class="content-left">

      <div class="project-description">
        <%= @project.description %>
      </div>

      <div class="project-links">
        <h4>Resources</h4>

      </div>

    </div>

    <div class="content-right">

      <%= link_to "Edit content", edit_project_path(@project.id), class: "white btn-artcollabs btn-warm-red" %>

      <a href="#" class="white btn-artcollabs btn-warm-red">Pending requests</a>
      <a href="#" class="white btn-artcollabs btn-warm-red">Delete project</a>

      <%= render "shared/members" %>

    </div>

  </div>

  <div style="height: 60px"></div>
