  <div class="show-content">

    <div class="content-left">

      <div class="project-description">
        <%= @project.description %>
      </div>

      <div class="project-links">
        <h4>Resources</h4>
      </div>

    </div>

    <div class="content-right">
      <%= link_to "Edit content", edit_project_path(@project), class: "white btn-artcollabs btn-warm-red" %>
      <button type="button" class="white btn-artcollabs btn-warm-red btn-apply" data-toggle="modal" data-target="#requestModal">
        Pending requests
      </button>
      <%= link_to "Delete project", project_path(@project), method: :delete, class: "white btn-artcollabs btn-warm-red", data: { confirm: "Delete project '#{@project.title}'?" } %>

      <!-- for some browsers (as the one I use), the delete funcion only works with button_to ☹ so we have to style it accordingly. I put it here to test -->
      <%= render "shared/members" %>

    </div>

  <div style="height: 60px"></div>


      <!-- Modal -->
      <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="requestModalLabel">Requests for <%= @project.title %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <br>
              <% @pending_collabs.each do |collaboration| %>
                <div class="request-container">
                  <div class="modal-request">
                    <div class="member user-avatar">
                      <%= link_to profile_path(collaboration.user), class: "a-member" do %>
                        <% if collaboration.user.avatar.attached? %>
                          <%= image_tag collaboration.user.avatar %>
                        <% else %>
                          <div class="avatar-member">
                            <%= render "shared/avatar" %>
                          </div>
                        <% end %>
                        <h6><%= collaboration.user.username %></h6>
                      <% end %>
                    </div>
                    Message: <%= collaboration.message %>
                  </div>
                  <div class="modal-request">
                    <%= button_to  "Confirm", confirm_path(collaboration), method: :patch, data: { confirm: "Are you sure?" }, class: "btn-modal"  %>
                    <%= button_to  "  Deny  ", confirm_path(collaboration), method: :patch, data: { confirm: "Are you sure?" }, class: "btn-modal" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>


  <!-- legacy
  <%#= render "shared/about" %>

  <div class="show-content">

    <div class="content-left">

      <div class="project-description">
        <%= @project.description %>
      </div>

      <div class="project-links">
        <h4>Resources</h4>

      </div>

    </div>

    <div class="content-right">

      <%= link_to "Edit content", edit_project_path(@project.id), class: "white btn-artcollabs btn-warm-red" %>

      <a href="#" class="white btn-artcollabs btn-warm-red">Pending requests</a>
      <a href="#" class="white btn-artcollabs btn-warm-red">Delete project</a>

      <%= render "shared/members" %>

    </div>

  </div>

  <div style="height: 60px"></div>
