  <div class="show-content">

    <div class="content-left">

      <div class="project-description">
        <%= @project.description %>
      </div>

    </div>

    <div class="content-right">

      <!-- Button trigger modal -->
      <button type="button" class="white btn-artcollabs btn-warm-red btn-apply" data-toggle="modal" data-target="#exampleModal">
        Apply
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Apply for <%= @project.title %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "shared/collaborations_form" %>
            </div>
          </div>
        </div>
      </div>

      <%= render "shared/favourite_projects_form" %>

      <%= render "shared/owner" %>

    </div>

  </div>

  <div style="height: 60px"></div>
