<div class="nav-artcollabs-home">

  <div class="nav-logo-container">
    <%= render 'shared/logo' %>
  </div>

  <% if user_signed_in? %>

    <% unless current_page?(root_path) %>
      <%= render "shared/navbar_search_form" %>
    <% end %>

    <div class="dropdown dropleft navbar-dropdown">
      <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="nav-avatar user-avatar">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag(current_user.avatar.key) %>
        <% else %>
          <%= render "shared/avatar" %>
        <% end %>
        </div>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
        <%= link_to "New project", new_project_path, class: "dropdown-item" %>
        <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
        <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>

  <% else %>

    <div class="nav-btn-login">
      <%= link_to "Log in", new_user_session_path, class: "btn-artcollabs btn-white-outline btn-margin-right"%>
      <%= link_to "Sign up", new_user_registration_path, class: "btn-artcollabs btn-white-outline btn-margin-right"%>
    </div>

  <% end %>

</div>
