<%= simple_form_for @project do |f| %>
  <%= f.input :title, input_html: { maxlength: 56 } %>
  <%= f.input :description %>
  <%= f.input :tag_list, label: "Tags" %>
  <%= f.input :budget %>
  <%= f.input :max_members %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :photo %>
  <div class="float-right">
    <%= f.submit %>
  </div>
<% end %>
