<div class="show-container">

  <h1>Dashboard</h1>

    <div class="tab-container-bts">

    <ul class="nav justify-content-between" id="DashboardTab" role="tablist">
      <li class="nav-item tab">
        <a class="nav-link tab active" id="my-projects-tab" data-toggle="tab" href="#my-projects" role="tab" aria-controls="my-projects" aria-selected="true"><h2>My projects</h2></a>
      </li>

      <li class="nav-item tab">
        <a class="nav-link tab" id="my-collabs-tab" data-toggle="tab" href="#my-collabs" role="tab" aria-controls="my-collabs" aria-selected="false"><h2>My collabs</h2></a>
      </li>

      <li class="nav-item tab">
        <a class="nav-link tab" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false"><h2>Requests</h2></a>
      </li>

      <li class="nav-item tab">
        <a class="nav-link tab" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false"><h2>Favorites</h2></a>
      </li>
    </ul>

    <hr>

  </div>

  <!-- TAB CONTENTS -->
  <div class="tab-content" id="DashboardTabContent">


    <!-- MY PROJECTS -->
    <div class="tab-pane show active fade dashboard-list" id="my-projects" role="tabpanel" aria-labelledby="my-projects-tab">
      <div class="dashboard-grid">

      <% @projects.each do |project| %>
        <%= render partial: 'shared/project_card', locals:  { project: project } %>
      <% end %>

      </div>
    </div>

    <!-- MY COLLABS -->
    <div class="tab-pane fade dashboard-list" id="my-collabs" role="tabpanel" aria-labelledby="my-collabs-tab">
      <% if @my_collabs_accepted.length.positive? %>
        <h2>Ongoing projects</h2><br>
        <% @my_collabs_accepted.each do |collab| %>
          <div class="dashboard-pair">
            <div class="dashboard-item">
              <h6><%= collab.role %> on<br>
              <%= link_to "#{collab.project.title}", project_path(collab.project) %></h6>
            </div>
            <div class="dashboard-request float-right">
              <%= link_to "Edit", edit_project_collab_path(collab.project, collab), class: "white btn-artcollabs btn-warm-red btn-margin-right btn-dashboard" %>
              <%= link_to "Delete", project_collab_path(collab.project, collab), class: "btn-artcollabs btn-warm-red-outline btn-dashboard", method: :delete, data: { confirm: "Delete request? Are you sure?" } %>
            </div>
          </div>
        <% end %>
        <hr><br>
      <% end %>
      <% if @my_collabs_pending.length.positive? %>
        <h2>Sent requests</h2><br>
        <% @my_collabs_pending.each do |collab| %>
          <div class="dashboard-pair">
            <div class="dashboard-item">
              <h6><%= collab.role %> on<br>
              <%= link_to "#{collab.project.title}", project_path(collab.project) %></h6>
            </div>
            <div class="dashboard-request float-right">
              <%= link_to "Edit", edit_project_collab_path(collab.project, collab), class: "white btn-artcollabs btn-warm-red btn-margin-right btn-dashboard" %>
              <%= link_to "Delete", project_collab_path(collab.project, collab), class: "btn-artcollabs btn-warm-red-outline btn-dashboard", method: :delete, data: { confirm: "Delete request? Are you sure?" } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- REQUESTS -->
    <div class="tab-pane fade dashboard-list" id="requests" role="tabpanel" aria-labelledby="requests-tab">
      <% @pending_collabs.each do |collab| %>
        <div class="user-avatar request-user">
              <%= link_to profile_path(collab.user), class: "r-member" do %>
                <% if collab.user.avatar.attached? %>
                  <%= image_tag collab.user.avatar %>
                <% else %>
                  <div class="avatar-member">
                    <%= render "shared/avatar" %>
                  </div>
                <% end %>
                <h3><%= collab.user.username %></h3>
              <% end %>
        </div>
        <div class="dashboard-pair">
          <div class="dashboard-item">
            <h6>wants to collaborate as <%= collab.role  %> on<br>
            <%= link_to "#{collab.project.title}", project_path(collab.project) %></h6>
            <div class="dashboard-message">
              <strong>Message:</strong> <%= collab.message %>
            </div>
          </div>
          <div class="dashboard-request float-right">
            <%= link_to  "Confirm", confirm_path(collab), class: "white btn-artcollabs btn-warm-red btn-margin-right btn-dashboard", method: :patch, data: { confirm: "Are you sure?" }  %>
            <%= link_to  "  Deny  ", confirm_path(collab), class: "btn-artcollabs btn-warm-red-outline btn-dashboard", method: :patch, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
        <hr><br>
      <% end %>
    </div>

    <!-- FAVORITES -->
    <div class="tab-pane fade dashboard-list" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
      <div class="dashboard-grid">

      <% @project_faves.each do |project| %>
        <%= render partial: 'shared/project_card', locals:  { project: project } %>
      <% end %>

      </div>
      <div style="height: 40px;"></div>
    </div>

  </div>

</div>

