
<h1>Ready to make things happen?</h1>

<div class="home-sub">
  <h6>We are here to help you find your next creative team. Whether you want to realize your own vision or join an ongoing project, this is the place to start!</h6>
</div>

<%= form_tag projects_path, method: :get do %>

<div class="home-search-explore">
  <div class="home-search-container">

    <%= text_field_tag :query,
      params[:query],
      class: "home-search-text",
      placeholder: "Which topic are you interested in?"
    %>

    <button class="search-submit"><div class="icon-bg"><i class="fas fa-search home-search-icon"></i></div></button>

  </div>
  <%= link_to "Explore", projects_path, class: "btn-home-explore" %>
</div>

<div class="home-collection">
  <% @collections.each_with_index do |collection, index| %>
    <% if index < @collections.length - 1 %>

      <%= link_to controller: "projects", query: collection do %>

        <div class="collection-card">
          <div class="collection-title">
            <%= @collections.last[index] %>
          </div>
        </div>

      <% end %>

    <% end %>
  <% end %>
</div>

<% end %>
