<div class="profile-container">
  <div class="profile-content">

    <div class="profile-left">
      <div class="profile-text">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <h4><%= @user.username %></h4>
      </div>

      <div class="profile-text">
        <%= @user.bio %>
      </div>

      <div class="profile-text">
        <h5>Interests</h5>
        all my interest listed here
      </div>

      <div class="profile-text">
        <h5>Skills</h5>
        all my skills listed here
      </div>
    </div>

    <div class="profile-right">
      <div class="profile-pic user-avatar">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar %>
          <% else %>
            <%= render "shared/avatar" %>
          <% end %>
      </div>

      <div class="profile-card">
        <h5>Links/social media</h5>
        <br><br>
      </div>

      <div class="profile-card">
        <h5>Media uploads</h5>
        <br><br>
      </div>
    </div>

  </div>
</div>



