<div class="profile-container">
  <div class="profile-content">

    <div class="profile-left">

      <div class="profile-pic user-avatar">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= render "shared/avatar" %>
        <% end %>
      </div>

      <div class="profile-bio">
        <% if @user.bio %>
          <%= @user.bio %>
        <% else %>
          <%= "#{@user.username} has not yet written a bio." %>
        <% end %>
      </div>

    </div>

    <div class="profile-right">

      <div class="profile-name">
        <div class="name-username">
          <h3><%= @user.first_name %> <%= @user.last_name %></h3>
          <h6><%= @user.username %></h6>
        </div>

      </div>

      <div class="profile-tags">

        <div class="profile-taglist">
          <% if @user.interest_list.length.positive? %>
            <h5>Interests</h5>
            <div class="card-tags">
            <% if @user.interest_list %>
              <% @user.interest_list.each do |interest| %>
                <span class="a-tag"><%= link_to interest, users_path(interest: interest) %></span>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>

        <div class="profile-taglist">
          <% if @user.skill_list.length.positive? %>
            <h5>Skills</h5>
            <div class="card-tags">
            <% if @user.skill_list %>
              <% @user.skill_list.each do |skill| %>
                <span class="a-tag"><%= link_to skill, users_path(skill: skill) %></span>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>

      </div>


        <div class="profile-linklist">
          <% if @user.links.present? %>
            <h5>Links</h5>
            <ul>
              <% @user.links.each do |link|  %>
                <li><%= link_to link.title, link.url %>
                  <% if @user == current_user %>
                    <span class="float-right" style="margin-right: 100px;">
                      <%= link_to "Delete", link_path(link), class: "btn-artcollabs btn-profile-outline", method: :delete, data: { confirm: "Delete the link?" } %>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if @user == current_user %>
            <div style="margin-bottom: 20px; margin-left: 8px;">
              <%= link_to "Add a Link", new_link_path, class: "white btn-artcollabs btn-profile" %>
            </div>
          <% end %>

        </div>

    </div>

  </div>
</div>
