<div class="container-fluid">

    <div class="row padding-top-32">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <% if @users.empty? && @projects.empty? %>
                <h3>No search results for <%= params[:query] %>.</h3>
            <% else %>
                <h3>Search results for <span class="blue-text"><%= params[:query] %></span>:</h3>
            <% end %>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-3">

        <% if @user_mode && @users.length.positive? %>
            <div class="results text-center" style="margin-top: 80px">

            <%= form_tag search_results_path, method: 'get' do %>
            <%= hidden_field_tag :query, params[:query] %>

              <%= check_box_tag :user_mode, "true", "false", onchange: "toggleUsers()" %>

            <% end %>

                <div id="users">
                <h2>Users</h2>
                <% @users.each do |user| %>
                    <h4><%= link_to user.username, profile_path(user) %></h4>
                <% end %>
                </div>
            </div>
        <% end %>

        </div>
        <div class="col-md-1"></div>

        <div class="col-md-7">
            <% if @project_mode && @projects.length.positive? %>
                <h2>Projects</h2>
                <div class="start-flex wrap gap padding-top-32">
                    <% @projects.each do |project| %>
                        <%= render partial: 'shared/project_card', locals: { project: project } %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>

    <%= javascript_include_tag 'toggle', 'data-turbolinks-track': true  %>