<div class="form-container">

  <h2>Edit project</h2>
  <br>

  <%= simple_form_for @project do |f| %>
  <%= f.input :title, input_html: { class: "artcollabs-input", maxlength: 42 } %>
  <%= f.input :description, input_html: { class: "artcollabs-input bio", maxlength: 10000 } %>
  <%= f.input :tag_list, label: "Tags", hint: "Separate tags by commas.", input_html: { value: @project.tag_list.to_s, class: "artcollabs-input", maxlength: 52 } %>
  <%= f.input :max_members, input_html: { class: "artcollabs-input", min: 0, max: 100 } %>
  <%= f.input :end_date, input_html: { class: "artcollabs-input" } %>
  <%= f.input :photo %>
  <div class="float-right">
    <%= f.submit %>
  </div>
<% end %>


  <div class="delete-account">
    <h3>Delete project</h3>
    <p><em>We do not store your data.</em> Once you have deleted your project, it cannot be retrieved again. Please think about this decision carefully before you confirm.</p>
    <div style="margin-top: 32px; text-align: center">
      <%= link_to "Delete project", project_path(@project), method: :delete, class: "white btn-artcollabs btn-warm-red", data: { confirm: "Delete project '#{@project.title}'?" } %>
    </div>
  </div>

</div>
