<div class="project-photo">
  <% if @project.photo.attached? %>
    <%= image_tag @project.photo, crop: :mfit %>
  <% end %>
    
</div>
  <h1><%= @project.title %></h1>

<div class="show-container">
  <%= render "shared/tabs_without_js" %>

  <%= simple_form_for @project do |f| %>
    <%= f.input :media, as: :file, input_html: { multiple: true }, class: "btn" %>
    <div class="float-right">
      <%= f.button :submit, "Upload" %>
      <%#= flash[:notice] = " new media uploaded to #{@project.title} " %>
    </div>
  <% end %>

    <div class="media-container">
        <% if @project.media.attached? %>
          <ul>
            <% @project.media.each do |media| %>
              <li><%= cl_image_tag media.key, loading: "lazy" %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
</div>
