<div class="project-photo">
  <% if @project.photo.attached? %>
    <%= image_tag @project.photo, crop: :mfit %>
  <% end %>
    
</div>

<div class="show-container">
    <%= render "shared/tabs_without_js" %>

  <!-- ⭕ Media gets overwritten when trying to add more files to gallery, create method on projects_controller to manage upload files, link route to a button which triggers upload. HOW?
  images are not clickable 
  put them on a modal? 
  using js?
  generate html with src = cl_image_tag? -->

  <%= simple_form_for @project do |f| %>
    <%= f.input :media, as: :file, input_html: { multiple: true }, class: "btn" %>
    <div class="float-right">
      <%= f.button :submit, "Upload" %>
      <%#= flash[:notice] = " new media uploaded to #{@project.title} " %>
    </div>
  <% end %>

  <h1><%= @project.title %></h1>
    <div class="media-container">
      <ul>

        <% if @project.media.attached? %>
          <% @project.media.each do |media| %>
            <li><%= cl_image_tag media.key, loading: "lazy" %></li>  
            
            <!--how can something like this be done?
            <li><img src="#{media.key}" alt=""></li>
            or use link_to with photo instead of text? -->

          <% end %>  
        <% end %>
        
        <li></li>
      </ul>
    </div>
</div>
