

<div class="container">
  <%= link_to "back", root_path %>
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>


  <%= button_to "Delete project", project_path(@project), method: :delete, data: { confirm: "delete project named: '#{@project.title}' ?" } %>

  <%#= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "delete project named: '#{@project.title}' ?" } %>

  <br>
  <!-- if current_user.collaborations.includes(project) ? something like this for allowing only team members to see information -->

  <br>--------------------- <br>
  <h1>Milestones</h1>

  <!-- FORM NOT WORKING -->
  <%= render "shared/milestones_form" %>
  <% @milestones.each do |milestone| %>

    <h2><%= milestone.title %></h2>
    <p><%= milestone.description %></p>
    <%= button_to "Delete milestone", project_milestone_path(@project, milestone), method: :delete, data: { confirm: "delete milestone named: '#{@milestone.title}' ?" } %>

    <!--%= milestone.status %-->
  <% end %>

  <br>--------------------- <br>
  <h1>Collabs</h1>
  <h2>new collab</h2>
  <%= render "shared/collaborations_form" %>
  <% @project.collaborations.each do |collab| %>
    <br>=====<br>
    <%= collab.user.email %>
    <p>wants to collabs as <%= collab.role %></p>


    <%= link_to "edit your collab request", edit_project_collaboration_path(@project, collab) %>
    <%= button_to "cancel your collab request", project_collaboration_path(@project, collab), method: :delete, data: { confirm: "delete collab request ?" } %>

    <br>
    <div class="container bg-secondary">
      Project owner:
      <%= link_to  "Confirm", confirm_path(collab), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-success text-right" %>
      <%= link_to  "  Deny  ", confirm_path(collab), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger text-right" %>
    </div>
  <% end %>

  <!-- method: :delete, data: { confirm: "delete project named: '#{@project.title}'?" }%-->
</div>
