<div class="project-photo">
  <% if @project.photo.attached? %> 
    <%= image_tag @project.photo %>
  <% end %>
</div>

<div class="show-container">

  <h1><%= @project.title %></h1>

  <% if @user_type == :owner %>

    <%= render "shared/about_owner" %>

  <% elsif @user_type == :collaborator  %>

    <%= render "shared/about_collaborator" %>

  <% else %>

    <%= render "shared/about_visitor" %>

  <% end %>

</div>

