<div class="show-container">

  <h1><%= @project.title %></h1>

  <% if current_user == @project.owner %>

    <%= render "shared/about_owner" %>

  <% elsif current_user == @project.collaborator %>

    <%= render "shared/about_collaborator"

  <% else %>

    <%= render "shared/about_user" %>

  <% end %>

</div>

<%= render "shared/favourite_projects_form" %>
