<div class="show-container">

  <h1><%= @project.title %></h1>

  <%= render "shared/chat" %>

  <div class="chat-content">

    <div class="chat-left">

      <div id="messages" data-projectchat-id="<%= @project_chat.id %>">
        <% @project_chat.messages.each do |message| %>
          <div class="message-container" id="message-<%= message.id %>">
            <div class="message-top">
              <span class="chat-user"><%= message.user.username %></span>
              <span class="chat-date"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
            </div>
            <div class="author">
              <%= image_tag "avatar.jpg" %>
              <p><%= message.content %></p>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="chat-right">

        <%= simple_form_for [ @project_chat, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Message ##{@project.title}", :input_html => {
            :id => "input_message" }, class: "home-search-text message-form" %>
          <%= f.submit class: "btn-chats btn-warm-red submit-button" %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>

    </div>

  </div>

</div>
