      <div class="chat-form">
        <%= simple_form_for [ @project_chat, @message ], remote: true do |f| %>
          <%= f.input :content,
              label: false,
              placeholder: "Message",
              :input_html => { id: "input_message", class: "artcollabs-input chat-message" } %>
          <div class="form-actions float-right">
            <%= f.button :submit %>
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
      </div>

      <div id="messages" class="overflow-auto" data-projectchat-id="<%= @project_chat.id %>">
        <% @project_chat.messages.reverse.each do |message| %>
          <%= render "messages/message", message: message  %>
        <% end %>
      </div>
